header, nav, main {
    max-width: 960px;
    margin: auto;
    
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a {
    padding: .5rem $gutter;
   
}

//main
section {
   
    grid-template-columns: 1fr 1fr;
  }