/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFontFamily;
  font-weight: $meduimWeight;
  color: $fontColor;
}

#headerWrapper {
  background-color: $secondaryColor;
  color: $fontColor;
  
  

}

header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 600;
  }
  a {
    color: #000;
    text-decoration: none;
    margin: 0;
    
  }
  a:hover {
    color:#3b3b3b;
  }
  
}


#navWrapper {
  background-color: #275e38;
}
nav {
  ul {
    padding: 0;
    margin: 0 $gutter;
  }
  ul li {
    list-style-type: none;
  }
  ul li a {
    color: #ccc;
    text-decoration: none;
    display: block;
    padding: 0.8rem $gutter;
  }
  ul li.active a {
    background-color: #ffffffa5;
    color: $primaryColor;
    border-radius: 10px;
  }
}

//main stuff
#mainwrapper {
  margin: 10px;
}
section {
  display: grid;
  grid-template-columns: 1fr;
  
  
}
section div {
  
  border-radius: 5px;
  margin: 1rem $gutter;
  background-color: #275e38;
 
 
  img {
    width: 100%;
    height: auto; 
    border-radius: 5px;

  }
  h2{
    padding: 10px;
    margin: 0;
    text-align: center;
    color: #fff;

  }
 

  
}





// begin the footer

#footerwrapper {
  background-color: $secondaryColor;
}
footer {
  padding: 0.5rem $gutter;
  p {
    margin: 0;
    font-weight: $meduimWeight;
    text-align: center;
  }
}
